.App {
  text-align: center;
}

.expander {
  background-color: white;
  opacity: 0;
  transition: all 100ms;
}

.expander:hover {  
  opacity: 40%;
}

.checklist {
  transition: all 200ms;
}

.checklist:hover {  
  background-color: white;
  color: black;
}

.checklist-checked {
  text-decoration: line-through;
}
