.App {
  text-align: center;
}

.expander {
  background-color: white;
  opacity: 0;
  transition: all 100ms;
}

.expander:hover {  
  opacity: 40%;
}

.checklist {
  transition: all 200ms;
}

.checklist:hover {  
  background-color: white;
  color: black;
}

.checklist-checked {
  text-decoration: line-through;
}

.fixed-width-px-100 {
  width: 100px;
}

.fixed-width-px-75 {
  width: 75px;
}

.fixed-width-px-50 {
  width: 50px;
}
